.LeftPanelMenuItem {
  --menu-item-height: calc(50px - 2px);
  --menu-item-transition: all linear .15s;
  $root: &;

  align-items: center;
  background: var(--menu-color-base);
  border: 2px solid var(--menu-color-border);
  border-radius: 0 10px 0 10px;
  display: flex;
  height: var(--menu-item-height);
  margin: 0 24px 10px;
  overflow: hidden;
  padding-left: 16px;
  position: relative;
  text-decoration: none;
  transition: var(--menu-item-transition);

  &:before {
    background: var(--menu-color-border);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transition: var(--menu-item-transition);
    vertical-align: middle;
    width: 16px;
    z-index: 0;
  }

  &:hover,
  &-active {
    background: var(--menu-color-active-base);
    border-color: var(--primary-color);

    &:before {
      background: var(--primary-color);
      width: 68px;
    }

    & #{$root}-title {
      margin-left: 8px;
    }

    & #{$root}-icon {
      border-color: var(--menu-color-active-base);
    }
  }

  &-icon {
    border: 2px solid var(--primary-color);
    border-radius: 14px;
    display: inline-block;
    height: 24px;
    margin: 0 16px 0 12px;
    position: relative;
    width: 24px;
    z-index: 1;
  }

  &-title {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: .01em;
    transition: margin .1s ease-in-out;
  }

  &-new {
    background-size: 100%;
    background-repeat: no-repeat;
    color: var(--menu-color-new-text);
    display: block;
    height: 32px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 32px;

    &-count {
      display: block;
      font-size: 13px;
      font-weight: 600;
      left: 8px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 2px;
    }
  }
}