.LeftPanel {
  border-right: 1px solid var(--base-level2-color);
  display: flex;
  flex-direction: column;
  padding-top: var(--header-height);
  width: var(--leftPanel-width);

  &-user {
    background: var(--base-level2-color);
    display: flex;
    font-size: 16px;
    margin: 0 0 24px;
    padding: 16px 24px;

    &-icon {
      background-color: rgba(black, 0.25);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px;
      display: block;
      height: 48px;
      margin: 0 12px 0 0;
      width: 64px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-name {
      display: block;
      margin: 0 0 3px;
    }

    &-action {
      display: inline;
      color: var(--text-color);
      font-size: .8em;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-menu {
    flex: 1;
  }

  &-bottomActions {
    flex-shrink: 1;
    justify-self: end;
    padding: 0 24px 24px;
  }
}