.ListItemActionWorld {
  display: block;
  margin-right: 16px;
  overflow: hidden;
  padding: 3px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &-total {
    background: rgba(white, .2);
    border-radius: 10px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-right: 8px;
    min-width: 16px;
    padding: 0 8px;

    &-icon {
      margin-right: 6px;
    }
  }

  &-name {
    font-weight: bold;
  }

  &-private {
    color: var(--text-alt-color);
    font-style: italic;
  }
}