.StatusIndicator {
  background: #9B9B9B;
  display: inline-block;
  margin: 0 6px 0 0;
  overflow: hidden;
  text-indent: -9999px;
  vertical-align: middle;

  &-online {
    background: #50E57E;
  }

  &-busy {
    background: #E88134;
  }

  &-dnd {
    background: #E83A34;
  }
}